@import './variables';
@import './custom-table';
@import './mixins';
@import './custom_thumbnail';

.custom-form-control, .dropdown a.custom-btn {
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all .7s ease;
}

.custom-form-control:focus {
    border-color: #c2101e;
    box-shadow: 0 0 2px 0;
}

.dropdown a.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color:$brand-danger;
}

.dropdown a.custom-btn:focus {
    color: $brand-danger-color-dark;
}

.custom-btn-outline-warning {
    @include button-style($brand-warning)
}

.custom-btn-outline-danger {
    @include button-style($brand-danger)
}

.custom-btn-warning {
    color: #000;
    background-color:$brand-warning;
    border-color:$brand-warning;
}

.custom-btn-warning:hover,
.custom-btn-warning:active,
.custom-btn-warning:focus,
.custom-btn-warning:active:focus,
.custom-btn-warning:active:hover {
    background-color:$brand-warning-color-dark;
    border-color:$brand-warning-color-dark;
}

.add-to-cart-btn {
    color: #53ccd7;
    background-color: #fff;
    font-weight: 700;
}